@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root, [data-bs-theme="light"] {
  --bs-font-sans-serif: "Inter", sans-serif;
  --bs-font-monospace: "JetBrains Mono", monospace;
  --bs-body-bg: #e9f1fb;
  --bs-body-color: #2e3036;
  --bs-heading-color: #2e3036;
  --bs-primary: #246bc2;
  --bs-primary-rgb: 36, 107, 194;
  --bs-secondary: #808080;
  --bs-secondary-rgb: 138, 141, 143;
  --bs-success-rgb: 46, 133, 54;
  --bs-danger-rgb: 201, 29, 52;
  --bs-dark-rgb: 46, 48, 54;
  --bs-link-color: #246bc2;
  --bs-link-color-rgb: 36, 107, 194;
  --bs-link-hover-color: #205fac;
  --bs-link-hover-color-rgb: 32, 95, 172;

  --bs-foreground-bg: #fff;
  --bs-subheader-bg: #d4e4f7;
  --bs-neutral: #e5e6e6;
  --bs-neutral-hover: #cbcccd;
  --bs-neutral-active: #bebfc1;
  --bs-list-group-item-header-bg: #d4e4f7;
  --bs-list-group-item-header-color: #184781;
  --bs-list-group-item-hover-bg: #f4f8fd;
  --bs-form-border-color: #e6e6e6;
  --bs-card-image-overlay-bg-rgba: 255, 255, 255, .75;
}

[data-bs-theme="dark"] {
  --bs-body-color: #fff;
  --bs-heading-color: #fff;

  --bs-foreground-bg: #2d3339;
  --bs-subheader-bg: #2e3238;
  --bs-neutral: #808080;
  --bs-neutral-hover: #737373;
  --bs-neutral-active: #666666;
  --bs-list-group-item-header-bg: #272b30;
  --bs-list-group-item-header-color: #e9f1fb;
  --bs-list-group-item-hover-bg: #394047;
  --bs-form-border-color: var(--bs-secondary);
  --bs-card-image-overlay-bg-rgba: 0, 0, 0, .25;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}


/* Navbar */
.navbar {
  background-color: #246bc2 !important;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")
}

.navbar .navbar-nav {
  --bs-nav-link-font-weight: 400;
  --bs-nav-link-color: #fff;
  --bs-nav-link-hover-color: #fff;
}

.navbar .navbar-toggler {
  padding: 0;
  border: none;
  box-shadow: none;
}

.navbar .nav-item {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.navbar .nav-link {
  border-radius: var(--bs-border-radius);
}

.navbar .nav-link:hover {
  background-color: #205fac;
}

.navbar .nav-link.active {
  color: var(--bs-nav-link-color);
  background-color: #1c5397;
}

@media (min-width: 992px) {
  .navbar .nav-item {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar .nav-item:first-child {
    margin-left: 0;
  }

  .navbar .nav-item:last-child {
    margin-right: 0;
  }
}


/* Columns */
.row {
  /*--bs-gutter-x: 1rem;*/
}

.row > * {
  /*margin-bottom: var(--bs-gutter-y);*/
}

.rows-striped {
  .row:nth-child(even) {
    background-color: #f6f8f8;
  }
}


/* List group */
.list-group {
  --bs-list-group-bg: var(--bs-foreground-bg);
  --bs-list-group-color: var(--bs-body-color);
  --bs-list-group-border-color: var(--bs-body-bg);
  --bs-list-group-active-bg: var(--bs-primary);
  --bs-list-group-active-border-color: var(--bs-primary);
  border-radius: var(--bs-border-radius);
  margin-bottom: 0;
}

.list-group-item {
  transition: background-color .075s ease-in-out;
}

.list-group-item:not(.list-group-item-header, .active, .list-group-item-split):hover {
  cursor: pointer;
  color: var(--bs-list-group-color);
  background-color: var(--bs-list-group-item-hover-bg);
}

.list-group-item-header {
  z-index: 2;
  border-color: var(--bs-list-group-item-header-bg);
  background-color: var(--bs-list-group-item-header-bg);
}

.list-group-item-header h6 {
  color: var(--bs-list-group-item-header-color);
}

.list-group-item + .list-group-item-header {
  margin-top: calc(-1 * var(--bs-list-group-border-width));
  border-top-width: var(--bs-list-group-border-width);
}

.list-group-subsections .list-group-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 0;
}

.list-group-item-split {
  background-color: transparent;
}


/* Cards */
.card {
  border: none;
  --bs-card-bg: var(--bs-foreground-bg);
  --bs-card-border-color: transparent;
  --bs-card-inner-border-radius: var(--bs-border-radius);
}

.card > :first-child {
  border-top-left-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius);
}

.card > :last-child {
  border-bottom-left-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}

.card-header {
  color: var(--bs-list-group-item-header-color);
  background-color: var(--bs-list-group-item-header-bg);
}

.card-header h1, .card-header h2, .card-header h3, .card-header h4, .card-header h5, .card-header h6 {
  color: inherit;
}

.card-image {
  background-size: cover;
  background-position: center;
  height: 400px;
}

.card-image-overlay {
  width: 100%;
  background-color: rgba(var(--bs-card-image-overlay-bg-rgba));
}

.card-footer {
  background: var(--bs-foreground-bg);
}


/* Forms */
.form-label {
  font-size: .875rem;
  margin-bottom: .25rem;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.form-control, .form-select {
  color: var(--bs-body-color);
  background-color: transparent !important;
  border-color: var(--bs-form-border-color);
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-left: 0 !important;
}

.form-control {
  padding-right: 0;
}

.form-select {
  padding-right: 2.25rem;
}

.form-control.is-invalid {
  padding-right: 0;
  background-image: none;
}

.form-select.is-invalid {
  padding-right: 2.25rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}

.form-control:focus, .form-select:focus {
  border-color: #1879cd;
}

.form-control:focus, .form-control.is-invalid:focus, .form-select:focus, .form-select.is-invalid:focus {
  box-shadow: none;
}

.input-group-text {
  color: var(--bs-body-color);
  border-color: var(--bs-form-border-color);
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: transparent;
  transition: border-color .15s ease-in-out;
}

.form-control:focus + .input-group-text {
  border-color: #1879cd;
}

.form-control.is-invalid, .form-select.is-invalid {
  border-color: #cb1a35;
}

.form-control.is-invalid + .input-group-text {
  border-color: #cb1a35;
}

.form-check-input {
  --bs-form-check-bg: var(--bs-foreground-bg);
  border-color: var(--bs-form-border-color);
}

.form-check-input:checked {
  background-color: #246bc2;
  border-color: #246bc2 !important;
}

.form-check-input:focus {
  box-shadow: none;
  border-color: #e6e6e6;
}

.input-group {
  background-color: transparent !important;
}

.input-group-sm > .form-control, .input-group-sm > .form-select, .input-group-sm > .input-group-text {
  border-radius: 0;
}

@media (min-width: 576px) {
  .form-input-otp {
    width: 220px;
  }
}


/* Buttons */
.btn {
  --bs-btn-border-radius: var(--bs-border-radius);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #246bc2;
  --bs-btn-border-color: #246bc2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #205fac;
  --bs-btn-hover-border-color: #205fac;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1c5397;
  --bs-btn-active-border-color: #1c5397;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3d84db;
  --bs-btn-disabled-border-color: #3d84db;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c91d34;
  --bs-btn-border-color: #c91d34;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b3192e;
  --bs-btn-hover-border-color: #b3192e;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #9c1628;
  --bs-btn-active-border-color: #9c1628;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e2364d;
  --bs-btn-disabled-border-color: #e2364d;
}

.btn-light {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: #e5e6e6;
  --bs-btn-border-color: #e5e6e6;
  --bs-btn-hover-color: var(--bs-body-color);
  --bs-btn-hover-bg: #cbcccd;
  --bs-btn-hover-border-color: #cbcccd;
  --bs-btn-active-color: var(--bs-body-color);
  --bs-btn-active-bg: #bebfc1;
  --bs-btn-active-border-color: #bebfc1;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--bs-body-color);
  --bs-btn-disabled-bg: #f2f2f3;
  --bs-btn-disabled-border-color: #f2f2f3;
}

.btn-neutral {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: var(--bs-neutral);
  --bs-btn-border-color: var(--bs-neutral);
  --bs-btn-hover-color: var(--bs-body-color);
  --bs-btn-hover-bg: var(--bs-neutral-hover);
  --bs-btn-hover-border-color: var(--bs-neutral-hover);
  --bs-btn-active-color: var(--bs-body-color);
  --bs-btn-active-bg: var(--bs-neutral-active);
  --bs-btn-active-border-color: var(--bs-neutral-active);
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #525660;
  --bs-btn-disabled-bg: #f2f2f3;
  --bs-btn-disabled-border-color: #f2f2f3;
}

.btn-outline-tertiary {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #d4e4f7;
  --bs-btn-active-color: #1c5397;
  --bs-btn-active-bg: #e9f1fb;
  --bs-btn-active-border-color: #d4e4f7;
  --bs-btn-active-shadow: none;
}

.btn-link {
  text-decoration: none;
  box-shadow: none;
}


/* Tabs */
.nav-pills {
  --bs-nav-pills-link-active-bg: #246bc2;
}


/* Modals */
.modal {
  --bs-modal-bg: var(--bs-foreground-bg);
  --bs-modal-border-radius: var(--bs-border-radius);
}

.btn-close {
  border-radius: var(--bs-border-radius);
}

.btn-close:focus {
  box-shadow: none;
}


/* Alerts */
.alert {
  --bs-alert-border-radius: var(--bs-border-radius);
}

.alert-primary {
  --bs-alert-color: #205fac;
  --bs-alert-bg: #d4e4f7;
  --bs-alert-border-color: #d4e4f7;
}

.alert-success {
  --bs-alert-color: #27722f;
  --bs-alert-bg: #c6ebca;
  --bs-alert-border-color: #c6ebca;
}

.alert-danger {
  --bs-alert-color: #b3192e;
  --bs-alert-bg: #f9d2d7;
  --bs-alert-border-color: #f9d2d7;
}


/* Custom styles */
.pointer {
  cursor: pointer;
}

.auth-container {
  width: 420px;
  max-width: 100%;
  margin: auto;
}

.line-height-title {
  line-height: 1.2;
}

.logo {
  height: 2rem;
  max-width: 100%;
}

.logo-splash {
  height: 5rem;
  max-width: 100%;
}

.badge-code {
  font-size: 0.8rem;
}

.list-group-section {
  margin-bottom: 1rem;
}

.list-group-section:last-child {
  margin-bottom: 0;
}

.list-group-icon {
  font-size: 1.25rem;
}

.list-group-icon-sm {
  font-size: 1rem;
}

.btn-square {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-spinner {
  position: absolute;
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.5rem);
}

.icon-xs {
  font-size: 0.5rem;
}

.panel-image {
  background-size: cover;
  background-position: center;
  height: 400px;
}

.panel-overlay {
  width: 100%;
  background: rgba(255, 255, 255, .75);
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.circle-sm {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.subheader {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -1rem;
}

.subheader::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: calc(50% - 50vw);
  background-color: var(--bs-subheader-bg);
  z-index: -1;
}

.subheader.subheader-empty::before {
  background-color: transparent;
}

.subheader-container {
  width: 100%;
  border-radius: var(--bs-border-radius);
}

.bar-chart {
  width: 100%;
  height: 240px;
}

.donut-chart {
  width: 100%;
  height: calc(100vw - 2rem);
  max-height: 280px;
}

@media (min-width: 576px) {
  .donut-chart {
    width: 100%;
    height: calc(540px - 2rem);
  }
}

@media (min-width: 768px) {
  .donut-chart-container {
    position: sticky;
    top: 3rem;
    align-self: flex-start;
  }

  .donut-chart {
    height: 320px;
    max-height: 320px;
  }
}

@media (min-width: 992px) {
  .donut-chart {
    height: 420px;
    max-height: 420px;
  }
}


/* Colors */
:root {
  --color-red: 224, 31, 34;
  --color-fuchsia: 218, 37, 106;
  --color-jasmine: 120, 198, 57;
  --color-blue: 0, 162, 255;
  --color-teal: 0, 203, 230;
  --color-yellow: 255, 195, 0;
  --color-grey: 129, 126, 126;
  --color-violet: 97, 79, 176;
  --color-amazon: 0, 128, 125;
  --color-mint: 0, 179, 125;
  --color-beige: 211, 182, 146;
  --color-navy: 0, 95, 179;
  --color-purple: 161, 78, 177;
  --color-orange: 255, 125, 26;
  --color-brown: 135, 86, 69;
  --color-brick: 184, 71, 71;
  --color-gold: 235, 160, 20;
  --color-green: 59, 171, 70;
  --color-dark-green: 27, 94, 32;
  --color-blue-grey: 96, 125, 139;
  --bg-opacity: 0.25;
  --text-opacity: 1;
}

.bg-red {
  background-color: rgba(var(--color-red), var(--bg-opacity));
}

.bg-fuchsia {
  background-color: rgba(var(--color-fuchsia), var(--bg-opacity));
}

.bg-jasmine {
  background-color: rgba(var(--color-jasmine), var(--bg-opacity));
}

.bg-blue {
  background-color: rgba(var(--color-blue), var(--bg-opacity));
}

.bg-teal {
  background-color: rgba(var(--color-teal), var(--bg-opacity));
}

.bg-yellow {
  background-color: rgba(var(--color-yellow), var(--bg-opacity));
}

.bg-grey {
  background-color: rgba(var(--color-grey), var(--bg-opacity));
}

.bg-violet {
  background-color: rgba(var(--color-violet), var(--bg-opacity));
}

.bg-amazon {
  background-color: rgba(var(--color-amazon), var(--bg-opacity));
}

.bg-mint {
  background-color: rgba(var(--color-mint), var(--bg-opacity));
}

.bg-beige {
  background-color: rgba(var(--color-beige), var(--bg-opacity));
}

.bg-navy {
  background-color: rgba(var(--color-navy), var(--bg-opacity));
}

.bg-purple {
  background-color: rgba(var(--color-purple), var(--bg-opacity));
}

.bg-orange {
  background-color: rgba(var(--color-orange), var(--bg-opacity));
}

.bg-brown {
  background-color: rgba(var(--color-brown), var(--bg-opacity));
}

.bg-brick {
  background-color: rgba(var(--color-brick), var(--bg-opacity));
}

.bg-gold {
  background-color: rgba(var(--color-gold), var(--bg-opacity));
}

.bg-green {
  background-color: rgba(var(--color-green), var(--bg-opacity));
}

.bg-dark-green {
  background-color: rgba(var(--color-dark-green), var(--bg-opacity));
}

.bg-blue-grey {
  background-color: rgba(var(--color-blue-grey), var(--bg-opacity));
}


.text-red {
  color: rgba(var(--color-red), var(--text-opacity));
}

.text-fuchsia {
  color: rgba(var(--color-fuchsia), var(--text-opacity));
}

.text-jasmine {
  color: rgba(var(--color-jasmine), var(--text-opacity));
}

.text-blue {
  color: rgba(var(--color-blue), var(--text-opacity));
}

.text-teal {
  color: rgba(var(--color-teal), var(--text-opacity));
}

.text-yellow {
  color: rgba(var(--color-yellow), var(--text-opacity));
}

.text-grey {
  color: rgba(var(--color-grey), var(--text-opacity));
}

.text-violet {
  color: rgba(var(--color-violet), var(--text-opacity));
}

.text-amazon {
  color: rgba(var(--color-amazon), var(--text-opacity));
}

.text-mint {
  color: rgba(var(--color-mint), var(--text-opacity));
}

.text-beige {
  color: rgba(var(--color-beige), var(--text-opacity));
}

.text-navy {
  color: rgba(var(--color-navy), var(--text-opacity));
}

.text-purple {
  color: rgba(var(--color-purple), var(--text-opacity));
}

.text-orange {
  color: rgba(var(--color-orange), var(--text-opacity));
}

.text-brown {
  color: rgba(var(--color-brown), var(--text-opacity));
}

.text-brick {
  color: rgba(var(--color-brick), var(--text-opacity));
}

.text-gold {
  color: rgba(var(--color-gold), var(--text-opacity));
}

.text-green {
  color: rgba(var(--color-green), var(--text-opacity));
}

.text-dark-green {
  color: rgba(var(--color-dark-green), var(--text-opacity));
}

.text-blue-grey {
  color: rgba(var(--color-blue-grey), var(--text-opacity));
}
