@if (alert) {
  <div class="alert alert-{{ alert.variant }}" role="alert">
    {{ alert.message | localize }}
  </div>
}
<ul class="nav nav-pills mb-3">
  <li class="nav-item">
    <button class="nav-link me-1" [ngClass]="{ 'active': activity.value.type === 'expense' }"
            (click)="switch('expense')">{{ "Expense" | localize }}
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link ms-1" [ngClass]="{ 'active': activity.value.type === 'income' }"
            (click)="switch('income')">{{ "Income" | localize }}
    </button>
  </li>
</ul>
<div class="card">
  <div class="card-body">
    <form [formGroup]="activity" (ngSubmit)="validate()" role="form">
      <div class="mb-3">
        <label class="small text-secondary" for="title">
          {{ "Title" | localize }}
        </label>
        <input type="text" class="form-control form-input"
               [ngClass]="{ 'is-invalid': activity.controls.title.invalid && activity.controls.title.touched }"
               id="title" name="title" formControlName="title"/>
        @if (activity.controls.title.invalid && activity.controls.title.touched) {
          <small class="form-text text-danger">
            {{ "This field is required." | localize }}
          </small>
        }
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="small text-secondary" for="amount">
              {{ "Amount" | localize }}
            </label>
            <div class="input-group">
              <input type="number" step="0.01" class="form-control form-input"
                     [ngClass]="{ 'is-invalid': activity.controls.amount.invalid && activity.controls.amount.touched }"
                     id="amount" name="amount" formControlName="amount" (input)="formatAmount()"/>
              <div class="input-group-text">{{ currency.symbol }}</div>
            </div>
            @if (activity.controls.amount.invalid && activity.controls.amount.touched) {
              <small class="form-text text-danger">
                {{ "This field is required." | localize }}
              </small>
            }
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="small text-secondary">{{ "Date" | localize }}</label>
            <div class="row">
              <div class="col">
                <select class="form-select form-input"
                        [ngClass]="{ 'is-invalid': activity.controls.day.invalid && activity.controls.day.touched }"
                        id="day" name="day" formControlName="day">
                  <option value="01">1</option>
                  <option value="02">2</option>
                  <option value="03">3</option>
                  <option value="04">4</option>
                  <option value="05">5</option>
                  <option value="06">6</option>
                  <option value="07">7</option>
                  <option value="08">8</option>
                  <option value="09">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
              <div class="col">
                <select class="form-select form-input"
                        [ngClass]="{ 'is-invalid': activity.controls.month.invalid && activity.controls.month.touched }"
                        id="month" name="month" formControlName="month">
                  <option value="01">{{ "January" | localize }}</option>
                  <option value="02">{{ "February" | localize }}</option>
                  <option value="03">{{ "March" | localize }}</option>
                  <option value="04">{{ "April" | localize }}</option>
                  <option value="05">{{ "May" | localize }}</option>
                  <option value="06">{{ "June" | localize }}</option>
                  <option value="07">{{ "July" | localize }}</option>
                  <option value="08">{{ "August" | localize }}</option>
                  <option value="09">{{ "September" | localize }}</option>
                  <option value="10">{{ "October" | localize }}</option>
                  <option value="11">{{ "November" | localize }}</option>
                  <option value="12">{{ "December" | localize }}</option>
                </select>
              </div>
              <div class="col">
                <select class="form-select form-input"
                        [ngClass]="{ 'is-invalid': activity.controls.year.invalid && activity.controls.year.touched }"
                        id="year" name="year" formControlName="year">
                  @for (year of years; track year) {
                    <option value="{{ year }}">
                      {{ year }}
                    </option>
                  }
                </select>
              </div>
            </div>
            @if ((activity.controls.day.invalid && activity.controls.day.touched) || (activity.controls.month.invalid && activity.controls.month.touched) || (activity.controls.year.invalid && activity.controls.year.touched)) {
              <small class="form-text text-danger">
                {{ "This field is required." | localize }}
              </small>
            }
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div>
          <label class="small text-secondary">
            <span>{{ "Receipt items" | localize }}</span>
          </label>
          <div class="rows-striped">
            @for (item of receiptItems; let i = $index; track item) {
              <div class="row align-items-center rounded my-1 p-1 g-1">
                <div class="col small">{{ item.description }}</div>
                <div class="col-md-3 col-lg-4">
                  <div class="input-group input-group-sm ps-3 ps-md-0">
                    <input type="number" step="0.01" class="form-control form-input"
                           [(ngModel)]="receiptItems[i].total" [ngModelOptions]="{ standalone: true }"
                           (input)="formatReceiptItemAmount(i)"/>
                    <div class="input-group-text">{{ currency.symbol }}</div>
                  </div>
                </div>
                <div class="col-md-3 col-lg-4">
                  <div class="ps-3 ps-md-0">
                    <select class="form-select form-select-sm form-input bg-transparent"
                            [(ngModel)]="receiptItems[i].category" [ngModelOptions]="{ standalone: true }">
                      @for (category of categories; track category) {
                        <option value="{{ category._id }}">
                          {{ category.title | localize }}
                        </option>
                      }
                    </select>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>

        @if (!receiptItemsAmountValid) {
          <small class="form-text text-danger">
            {{ "The sum of receipt items doesn't match the activity amount." | localize }}
          </small>
        }
      </div>

      <div class="mb-3">
        <label class="small text-secondary" for="tags">
          {{ "Tags" | localize }}
        </label>
        <input type="text" class="form-control form-input" id="tags" name="tags" formControlName="tags"
               (input)="formatTags()"/>
      </div>
      <div class="mb-3">
        <label class="small text-secondary" for="description">
          {{ "Description" | localize }}
        </label>
        <textarea class="form-control form-input" id="description" name="description"
                  formControlName="description"></textarea>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="isExcluded" name="isExcluded"
                 formControlName="isExcluded">
          <label class="form-check-label"
                 for="isExcluded">{{ "Exclude amount when calculating aggregates" | localize }}</label>
        </div>
      </div>
      <div class="text-end">
        <button-spinner [type]="'submit'" [variant]="'primary'" [label]="'Save' | localize"
                        [loading]="saving"></button-spinner>
      </div>
    </form>
  </div>
</div>
